[2016-05-22 23:14] nanaewusi opened #5 "ListOrders with pagination turned on throws an error."
Hey @tyscorp. Thanks a lot for putting this together. Really appreciate it. Not sure if I'm not making the call properly, but I have a setup (to fetch orders) that looks something like so:

[code]

When I run this an exception gets thrown at line `168` of `lib/client.js` with message: `_.get(...) is not a function`. After digging around a bit, I found that the code in question looks like so:

[cod

[2016-05-22 23:53] #5 closed, assigned to nobody

[2016-05-22 23:57] tyscorp commented on #5
Thanks for the report!

I published v1.1.4 with a fix.

I can't currently test it, but I _think_ it should work... I'll know for sure tomorrow. (or if you confirm it)

[2016-05-23 00:03] nanaewusi commented on #5
I just pulled the update in and it works now. Thanks man 👍

[2016-11-08 16:00] dakk opened #42 "List fields request exception"
When I try to use an API where the argument is a list, I got an exception:

[code]

[code]

[2016-11-08 16:04] tyscorp commented on #42
I'll try to look at this sometime today or tomorrow.

[2016-11-08 20:25] tyscorp opened #43 "Support Merchant Fulfillment API"
[Docs](http://docs.developer.amazonservices.com/en_US/merch_fulfill/MerchFulfill_Overview.html)

[2016-11-08 20:25] tyscorp opened #44 "Support Recommendations API"
[Docs](http://docs.developer.amazonservices.com/en_US/recommendations/Recommendations_Overview.html)

[2016-11-08 20:26] tyscorp opened #45 "Support Subscriptions API"
[Docs](http://docs.developer.amazonservices.com/en_US/subscriptions/Subscriptions_Overview.html)

[2016-11-11 17:42] tyscorp commented on #42
I found the issue, but I believe fixing it will result in a fairly significant breaking change. I've got a few other breaking changes almost ready to released so I'll release it with those. (hopefully ASAP)

[2016-11-12 11:21] dakk commented on #42
That's good, I'll test when it's ready; I would help you with code writing but I'm really busy in this period.

[2016-11-30 19:20] #42 closed, assigned to nobody

[2016-11-30 19:36] tyscorp commented on #42
I published [v2.0.0-alpha.0](https://github.com/beardon/mws-api/releases/tag/v2.0.0-alpha.0) with these changes since the other changes were taking a lot longer than expected. You can npm install with the `@next` tag.

[2016-12-11 19:40] dciccale opened #53 "Encoding issue"
Hi, when getting a response as tab-delimited flat file, the body of the response is going through this bit of code in `client.js:137`

[code]

The response has German words in it like "Staubbehältervolumen" which after doing the encoding conversion is turned into "StaubbehÃ¤ltervolumen" which is messed up.

Is that decoding necessary for some reason or we could just remove it? I think the default

[2016-12-13 17:41] dciccale commented on #53
Any updates on this? :) I can do a PR with the changes after this issue has been reviewed.

Another possibility is to allow passing an encoding, or a flag if encoding conversion should take place or not.

However if you just inspect the response, the encoding is already ISO-8859-1 that's why I'm asking to just remove the conversion. (Which is what is causing my data to be badly encoded). By just l

[2016-12-13 20:19] tyscorp commented on #53
The encoding change was introduced by @dakk in #47.

Do you know the cause of his original issue?

Why does decoding the response body as iso-8859-1 cause your issue if that is indeed the correct encoding?

It seems like if I remove the decoding it will break some responses, but leaving it in will break others.

[2016-12-13 20:34] dciccale commented on #53
That's why I think we should not touch encoding. and use the one that is coming by default from amazon. If someone needs to do something with encoding, anyone can post-process the response and have the correct output.

However given that I am now receiving an already post-encoded thing, I can't revert it.

[2016-12-13 20:41] dciccale commented on #53
Now I was able to revert it by doing:

[code]

But this is just silly, because now I'm required to bring in iconv dependency, encode it back to iso-8859-1 (default response encoding) and turn the buffer into a string.

I strongly suggest leaving the default response encoding coming from amazon, and leave users to do post-processing/encoding whatever. Encoding is a tough thing to handle, and better

[2016-12-19 17:38] #53 closed, assigned to nobody

[2016-12-19 19:02] dciccale opened #54 "Creating fulfillment with multiple <Message>'s"
normally, this should be allowed **and** is encouraged by amazon api docs, sending less requests and somewhat bigger files with multiple fulfillments. (up to around 10mb). Under multiple `<Message>` tags by increasing the `<MessageID>`

[code]

However with `mws-api` I can only create one at a time:

[code]

Is there a way to do this which I am not aware of?

I have been looking at the code in `li

[2016-12-19 19:10] tyscorp commented on #54
Yeah, this is a big issue. I'm running into it too.

I'm thinking of just destroying all XML generation and leaving it up to the users because the current implementation is so limiting and kind of convoluted.

If you have any suggestions I'm very open to them.

[2016-12-19 19:33] dciccale commented on #54
Wrapping the whole xml construction is nice, specially if you are new to the api. However it seems to be ton of work. Plus it requires also some good amount of documentation. This is the best lib I saw so far and I want to contribute. But for now I guess I'll just generate my xml. This should be easily done with strings or some json->xml lib out there.

I find it most useful when calling api metho

[2016-12-19 20:02] dciccale commented on #54
My example is missing some other data like `MerchantIdentifier`.

Also notice that `<Item>` for example is optional.

[2016-12-19 22:27] dciccale commented on #54
Using something like https://github.com/michaelkourlas/node-js2xmlparser

You can get an xml pretty easy,

It automatically recognizes if `Message` is an object, it will generate 1 tag, and multiple if it's an Array of objects.

Right now, the following code produces the same output as the current functionality.

`npm install js2xmlparser`

[code]

More review may be needed, but with this approach

[2016-12-19 22:43] tyscorp commented on #54
That looks nice.

If you wanted to make a PR that abstracts some of that boilerplate that would be great. :)

Does it still make sense to have individual functions for each feed, or should we just consolidate it into one? I guess if we wanted to do validation...

[2016-12-19 23:09] dciccale commented on #54
current version does not provide validation of feeds content right? If not, I would first make this work each with it's own function

[2016-12-21 11:38] dciccale commented on #54
i will prepare a PR as soon as i can

[2016-12-21 22:12] eriklueth opened #57 "MWSClient is not a function"
Hey guys,
sorry for molesting but I've got a problem using your libary. I'am trying to execute this function on AWS Lambda, but I've getting this error all the time...

my code is:

[code]
I would be so thankful if someone can help me :)

[2016-12-21 22:34] tyscorp commented on #57
I just tried your code on AWS Lambda and it worked fine. Which version of mws-api are you using?

[2016-12-21 22:53] eriklueth commented on #57
lol thats weird... I'am using mws-api@2.1.0
Was really hard to get it until this point, because first NPM didn't wanted to install it, because node-gyp failed all the time. Than I had to download lots of stuff to get it to work. After that Lambda didn't wanted it, because it was made on Windows, so I had to build everything on EC2, download it and deploy it to Lambda. And now I'am getting this :/

[2016-12-21 23:02] tyscorp commented on #57
Did you make sure to use the correct version of node (4.3) on EC2? What happens if you `console.log(MWSClient)`?

[2016-12-21 23:28] eriklueth commented on #57
the console.log() gives me:

The Node version on the EC2 could be the issue... was using the newest version. Iam going to change it to 4.3 now and build everything again. After that I will give feedback. Thank you for helping until now 👍

[2016-12-22 17:13] eriklueth commented on #57
Ok build everything with node 4.3 and it works now :) thank you so much 👍

[2016-12-22 17:19] #57 closed, assigned to nobody

[2016-12-30 14:07] 1Mpuls3 opened #60 "Product Feed"
Hi,

any news on the support of product feed?

I'm mainly interested in _POST_PRODUCT_PRICING_DATA_ and _POST_INVENTORY_AVAILABILITY_DATA_.

Regards,

[2016-12-30 15:36] tyscorp commented on #60
Waiting on #54.

For now you could [generate your own XML](https://github.com/beardon/mws-api/issues/54#issuecomment-268096935) and use [SubmitFeed](https://github.com/beardon/mws-api/blob/master/lib/sections/feeds.js#L47-L56).

[2016-12-30 15:44] 1Mpuls3 commented on #60
Okay, any ETA?

And thanks for the second part, that'll do for now.

[2016-12-30 15:55] tyscorp commented on #60
You would have to ask @dciccale :)

[2016-12-30 16:01] 1Mpuls3 commented on #60
Okay, thanks. Should I close this issue?

[2017-01-02 11:11] 1Mpuls3 commented on #60
Made it work with that, if anyone is interested.
[code]

And to get the feed state

[code]

Maybe that can help someone. Thanks for your help !

[2017-01-23 07:43] rtdllnn commented on #54
up!

[2017-01-25 09:39] LorisLombardo87 opened #63 "Error: Can't find Python executable "python""
i get this error during installation...
do i need to install python on the machine?

[2017-01-25 19:03] tyscorp commented on #63
Yes, you'll need to install python etc. for node-gyp.

[2017-01-25 19:03] #63 closed, assigned to nobody

[2017-01-28 22:11] jes-carr opened #64 "Finances doesn't work"
Any plans to finish the implementation?

[2017-01-31 15:22] tyscorp commented on #64
I have no plans at this current time. I will accept PRs, though.

[2017-02-13 09:31] dciccale commented on #54
I am really short of time currently to implement this. FWIW I am successfully fulfilling hundreds of messages using the custom implementation mentioned here.

If it helps, I have a function that generates the xml

[code]

Later I call it like this

[code]

[2017-02-23 18:56] florianbepunkt opened #66 "special characters like Ä, ö, ü"
Thank you for this library. Special characters like ä, ö, ü, etc. are not handled properly… instead ö for example is returned as Ã¶

Any hint how to encode responses right?

[2017-02-23 19:32] florianbepunkt commented on #66
I can solve this by basically wrapping each object property in a decodeURIComponent(escape(STRING)) function, but guess it would be nice to have this at library level

[2017-02-23 19:36] tyscorp commented on #66
Is this for csv or xml responses?

[2017-02-23 19:41] florianbepunkt commented on #66
neither… just using the default settings and

[code]

[2017-02-28 16:21] florianbepunkt opened #67 "outbound shipping (FBA) example"
any chance to get an example hwo to send a outbound shipping (fba) feed with items? I really struggle with the code so far and can't find a full example.

EDITED for clarity

[2017-02-28 18:50] florianbepunkt commented on #66
Fixed the enconding issue by having a helper function where I can parse relevant data

[code]

[2017-02-28 19:39] florianbepunkt commented on #67
so far this is what I have

[code]

this gives me the following  `Error: The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details.` which is rather strange since I use this lib successfully in the same project with the same credentials to get orders.

I'm not sure if I set the p

[2017-02-28 19:46] tyscorp commented on #66
I'd like to fix this internally but I have no idea what the correct way to do it is. Would `decodeURIComponent(escape())` handle all use-cases?

I've had problems in the past with encoding (#47 #53) and from looking at the source of the official MWS libs they don't seem to do anything special with the encoding.

[2017-02-28 19:57] florianbepunkt commented on #66
@tyscorp Not sure if this handles all use-cases… encoding is a bit tricky. Found a good explanation here: http://stackoverflow.com/questions/5396560/how-do-i-convert-special-utf-8-chars-to-their-iso-8859-1-equivalent-using-javasc

[2017-02-28 22:19] tyscorp commented on #67
I have never actually used and have no way to test the FBA parts of this library because Amazon doesn't have a testing environment for MWS.

I'm guessing the signature error is a misdirect and the real error is how LineItems is being handled. The library I based this off has a weird way of representing it and I [never really fixed it](https://github.com/beardon/mws-api/blob/564d6ec8924750fd1c1f78e

[2017-03-01 00:27] florianbepunkt commented on #67
Okay, I tried to kind of re-engineer the repo you based this on to figure out the original intention… IMHO this whole parameter renaming thing coming from the base repo is a bit messy and I can't see the reason behind it, but getting rid of it would mean a lot of refactoring.

The way you refactored the code makes the code a lot cleaner and works for all use cases except the lists (`Type.COMPLEX`)

[2017-03-01 01:30] tyscorp commented on #67
`Type.COMPLEX` is only used for FBA. I'd be happy if it was replaced with something good.

[2017-03-01 12:21] florianbepunkt commented on #67
@tyscorp just submitted a PR #68 that fixes FBA outbound shipping. I haven't touched inbound shipping or inventory so can't say if they work

[2017-04-16 07:43] colinskow opened #72 "Support Products.GetMyFeesEstimate"
I would like to be able to use this library to estimate fees for a given list of ASIN numbers.
http://docs.developer.amazonservices.com/en_US/products/Products_GetMyFeesEstimate.html

This should be simple, except that the request parameters are a list of objects, and I'm not sure if that is supported.

[2017-04-18 06:00] monkeyman888 opened #73 ""Uncaught TypeError: exists is not a function" in Meteor app"
I get the following error upon initializing the mws-api in my Meteor app. Any idea how to get around this issue? Running my code on Node directly from the console works fine so seems to be a Meteor issue?

`modules.js?hash=c0646c9…:103512 Uncaught TypeError: exists is not a function
    at Function.getRoot (modules.js?hash=c0646c9…:103512)
    at bindings (modules.js?hash=c0646c9…:103414)
    at m

[2017-04-23 06:40] wiredots01 opened #74 "Missing required MWSAuthToken for Seller"
i got an error:
Missing required MWSAuthToken for Seller

code:
const mws = new MWSClient({
  MWSAuthToken: 'mwstokenfrommyaccount',
  accessKeyId: 'myaccesskey',
  secretAccessKey: 'mysecretkey',
  merchantId: 'merchantIdsample',
  meta: {
    retry: true, // retry requests when throttled
    next: true, // auto-paginate
    limit: Infinity, // only get this number of items (NOT the same as MaxRe

[2017-04-24 19:05] dobesv commented on #72
I monkeypatched it in there like this:

[code]

HOWEVER, the response doesn't start with `<?xml` so it gets parsed as CSV, which is a problem that I have temporarily solved by editing the XML check in `client.js`

[2017-04-27 02:50] danazkari commented on #45
@tyscorp I'm super interested in this feature, and I could put in some hours for this feature enhancement, but I do have one question, I see that the only code regarding each section of the API, is the JS files that are in the sections folder.
Does that mean that if one were to create the `subscriptions.js` section in a proper manner, that would be enough for the subscriptions API to work? Or is t

[2017-04-27 02:54] tyscorp commented on #45
Yep, that's it.

[2017-04-27 15:27] danazkari commented on #45
Woot woot! I'll fork the repo today and start working on it.

[2017-05-07 08:26] dciccale commented on #73
Apparently is related to xml2json package which uses node-expat. Maybe using npmjs.com/package/xml2js instead could be an option which is entirely done in js.

I am thinking on replacing this dependency with a pure js solution, it will also give us faster installation since it will not need to compile from C.

Edit: PR #75 is replacing this library, which could fix your issue. However it would be

[2017-05-07 08:27] dciccale commented on #74
Try just passing this:

[code]

[2017-05-07 16:30] gisderdube commented on #74
I have the same issue, tried authToken, but still access denied

[2017-05-07 17:17] dciccale commented on #74
Let's not mix issues, one thing is missing a required MWSAuthToken parameter, which should be `authToken`.

Another thing is having the access denied on the shop.

This is not an issue of this module. Since it is a message coming from mws itself. Check you have your credentials correctly setup.

Maybe we could help a little bit on this if you could provide a better description of the error or the

[2017-05-07 17:18] gisderdube commented on #74
Thanks for the quick reply, I will check and report back later

[2017-05-08 07:10] dciccale commented on #66
@florianbepunkt Could you check the headers of the response coming from your api calls to mws? In the tests I've made, the headers are coming with ISO-8859-1 encoding. But I am using mws-api Europe, maybe the one you are using comes with another encoding.

Normally the mws-api will send the response in the correct encoding so characters are shown correctly. I don't think amazon would respond with

[2017-05-08 07:31] dciccale commented on #66
@florianbepunkt doing a `console.log(response)` here https://github.com/beardon/mws-api/blob/master/lib/client.js#L130 should give the response headers

[2017-05-08 09:55] dciccale commented on #74
@wiredots01 any updates?

[2017-05-08 10:19] gisderdube commented on #74
Sorry for the delay, of course it was a wrong parameter, the module works as expected, including MWSAuthToken aka `authToken`. Thanks for the effort!

[2017-05-09 15:42] dciccale commented on #60
@tyscorp @1Mpuls3 #54 was fixed by this PR #75, if there is still need/desire to do product feed, now's the time 😄

[2017-05-09 15:43] dciccale commented on #54
#75 fixed this issue. closing

[2017-05-09 15:43] #54 closed, assigned to nobody

[2017-05-09 18:55] AndrewSkinner opened #76 "Request signature not matching"
I am getting the following error:

  `The request signature we calculated does not match the signature you provided. Check your AWS
  Secret Access Key and signing method. Consult the service documentation for details.`

My code:
[code]

Any help would be greatly appreciated.

[2017-05-10 02:29] xeno commented on #42
This issue is still occurring with v2.1.0, also confirmed with v2.0.0-alpha.0

[2017-05-10 07:50] 1Mpuls3 commented on #60
Hey, thanks for the heads up! I'll look into upgrading my code with the new mws-api version sometime this months hopefully.

Good job :)

[2017-05-10 08:34] dciccale commented on #76
Isn't the `authToken` missing?

[code]

[2017-05-10 08:36] dciccale commented on #60
@1Mpuls3 Product feed is still not implemented. What I wanted to say that now it can be implemented (:

[2017-05-10 09:01] 1Mpuls3 commented on #60
Oh right. I read too fast my bad.

I guess it would be better, it would make my app definitely cleaner and maybe help other people using your implementation of the mws-api.

I'll have to improve my app someday anyway, since I learnt a lot more about javascript and nodejs these last few months.
So I'd definitely like it if you implemented product feeds.

But it's not urgent, or a need at this time.

[2017-05-10 13:20] AndrewSkinner commented on #76
I didn't realize I needed one. Looking at the examples given in the documentation an authToken isn't mentioned.

Can you tell me what is the authToken supposed to be?

[2017-05-10 15:27] AndrewSkinner commented on #76
I've been continuing to look into this and I can't seem to find out how I can get an auth token for my own seller account. I am working on an application that I will use with my own seller account. I don't have a developer account just my mws enabled seller account.

[2017-05-12 17:05] florianbepunkt commented on #66
[code]

[2017-05-12 17:29] dciccale commented on #66
Thanks!
Hmm, not able to see encoding here. I'll check again where I saw this so we can be 100% sure that encoding is not being modified in this library.

[2017-05-12 17:31] florianbepunkt commented on #66
yes, I was also wondering because there was no encoding specified. any chance you were requesting a csv flat file since specifying encoding would make moe sense there. btw. I'm also using the european endpoint

[2017-05-12 17:37] dciccale commented on #66
I am also using EU endpoint. And yes the response I tested was with CSV.

[2017-05-14 10:49] dciccale commented on #66
@florianbepunkt I've found something I am doing since quite some time so I am not completely sure if this will solve your issue but give it a try.

[code]

The important bit is the encoding just let me know if it works for you

[2017-05-24 10:44] dciccale commented on #76
@AndrewSkinner you're right if this is for your own seller account you don't need to specify the auth token.

There must be something wrong with your keys, or the way the signature is generated on this module.

[2017-05-25 14:41] BarryCarlyon opened #83 "Multiple orders/fulfils. No MerchantID"
As per notes in pr #75 and some in #82

The tests are wrong, the tests omit the required `MerchantIdentifier` and Amazon rejects feeds that don't contain this header key.

XSD is here: https://images-na.ssl-images-amazon.com/images/G/01/rainier/help/xsd/release_1_9/amzn-header.xsd

Currently my test fix is:

Using the merchantID from the first entry in the data. Which then means setting the mercha

[2017-05-25 14:43] BarryCarlyon commented on #83
Current Test:

[code]

Replace test with: (then fix code to match)

[code]

for example?

[2017-05-25 14:52] BarryCarlyon commented on #83
I'd propose changing:

[code]

in xml.js

the data.MerchantIdentifier is wrong. Since no data get's passed from the multi's

This can be loaded from the constructor but not sure the right way to pass it

[2017-05-25 14:54] greenkeeper[bot] opened #84 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-05-25 14:57] greenkeeper[bot] opened #85 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-05-25 15:03] BarryCarlyon commented on #83
Yeah for this PR ( #82 ) I copied the code for the other multi job and adjusted it, did the branches and made the PR then actually threw a live packet at amazon and got:

[code]

Or various column offsets as I test

Col 220 lines up with the closing `</header>` in:

[code]

Secrets/sensitives replaced. But there is no `<Header>` key of `<MerchantIdentifier>`

[2017-05-25 15:11] BarryCarlyon commented on #83
This issue also affects `PurgeAndReplace` too

[2017-05-25 17:55] AndrewSkinner commented on #76
It must be with how the signature is getting generated. I decided to use a different library and my keys have worked fine. Thanks for the help :)

[2017-05-25 17:55] #76 closed, assigned to nobody

[2017-05-25 18:02] dciccale commented on #76
@AndrewSkinner which library are you using?

[2017-05-25 18:15] AndrewSkinner commented on #76
I'm using devfacet/mws-product

[2017-05-26 08:09] BarryCarlyon commented on #83
purgeandreplace is not a required field for fulfil or ack but it's in the module code.

I'm not sure if making feeds extend off a client is better, or passing in a header to the feed content creator is better

[code]

 for example

But I think "feed content maker" should extend the base client.

[2017-05-26 08:26] dciccale commented on #83
It definitely gives more flexibility allowing passing a header.

However we could check arguments length, if only 1 arg is passed, we treat it as usual. If not, we take 1st arg as header parameters. wdyt?

[2017-05-26 09:35] BarryCarlyon commented on #83
After some thought and testing, since the ONLY field that goes in the header is MerchantIdentifier, just pass the constructed client over the stack instead.

#82 contains the fixes to the test and the actual fix that meets the test case.

I tried a few different variations, I think passing the client in, rather than a custom object/header works best.

Another alternative would be to adjust the `Su

[2017-05-26 09:56] BarryCarlyon commented on #83
And/or Should we remove MessageID from being user generated. And handle the MessageID counter internally.

Probably not, since MessageID's can be used to processed errors, so the User will want to set'em

But we could check for a MessageID and determine it if missing?

[2017-05-26 10:02] BarryCarlyon commented on #83
[code]

The fix worked \o/

[2017-05-26 10:03] dciccale commented on #83
I understand the approach you proposed.

I am not really convinced on having to pass an instance of a class to each method which in the end it just generates a string of XML.

I am more into this kind of option

[code]

Even if it looks verbose. I think is more testable, and using plain objects.

In a real scenario (such as in my case), I am anyway creating an instance of mws-api with the merchant

[2017-05-26 10:15] BarryCarlyon commented on #83
Yeah I think the header injection is the better option, but then we do end up generation xml/parts of XML in two places.

I went with passing a instance of mws-api to save having to global the config since the client is globalled to use anyway.

What do the other contributors think?

I'm running something along the lines of:

[code]

Then my code in orders and ack only have to worry about calling

[2017-05-26 10:54] dciccale commented on #83
Having globals though it is considered a bad practice.. you can't expect having the same value after requiring a node module since it could've been overwritten by accident making the whole thing pretty unstable.
For now it seems that it is more reliable using the instance of mws. Doing a more composable approach would require some refactor

[2017-05-26 11:04] BarryCarlyon commented on #83
Yeah I should really change the:

[code]

to

[code]

Or something but thats how I have my implmenetation right now

[2017-05-30 19:52] tyscorp opened #87 "Split feed XML generation into separate package"

[2017-06-01 10:08] BarryCarlyon commented on #66
I just ran into this issue.

https://github.com/beardon/mws-api/blob/master/lib/client.js#L113 puts a call into:

Should this not be:

Or the encoding line ignored/not set?

Why is it binary?

[2017-06-01 10:13] BarryCarlyon commented on #83
Closing issue as discussion and fixes are superseded by #82

[2017-06-01 10:13] #83 closed, assigned to nobody

[2017-06-05 20:10] dciccale opened #88 "Do not enable longStackTraces, consider using Promise.getNewLibraryCopy"
Should not globally set `longStackTraces` option from bluebird (https://github.com/beardon/mws-api/blob/master/lib/client.js#L15) because it will be set in bluebird singleton instance itself, forcing my or any project to have this enabled even in the production environment. Which apparently it can have a 2x-3x performance impact http://bluebirdjs.com/docs/api/promise.config.html#comment-3322469547

[2017-06-06 10:01] dciccale commented on #66
Somehow I am not having any issues at all on this regard while syncing orders from amazon. And I am receiving all data in German which has quite enough of these characters.

I am not sure where to look on this, I'm open to comments/fixes/prs

[2017-06-06 10:03] BarryCarlyon commented on #66
I've just flat removed the encoding line (to test) and it avoids me having to do "additional processing"

[2017-06-06 10:06] dciccale commented on #66
Apparently not setting the encoding at all, is making the encoding default to utf-8. As I read here https://stackoverflow.com/questions/14855015/getting-binary-content-in-node-js-using-request#comment-50003830

And a possible solution would be setting this to null to basically prevent having pre-defined encoding at all. But right now I have not much time to test it or so.

[2017-06-07 20:36] #84 closed, assigned to nobody

[2017-06-07 20:36] #85 closed, assigned to nobody

[2017-06-07 20:50] greenkeeper[bot] opened #89 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-06-13 14:52] gholevas commented on #67
Did PR #68 really fix this outbound shipping problem for you with the same format for LineItems you provided in the example above? I'm still getting "Error: The request signature we calculated does not match the signature you provided."

It's strange because your PR actually did fix the problem for GetFulfillmentPreview but not for CreateFulfillmentOrder

[2017-06-13 15:06] florianbepunkt commented on #67
@gholevas that's strange indeed. I did some initial tests and everything worked but we haven't used this in production yet (but we will in about two months). But looking at the PR I basically just fixed the request so this should work for CreateFulfillmentOrder.

On the other hand there were several commits regarding fba after I created the PR which was never merged. So maybe my PR is no longer co

[2017-06-13 16:53] gholevas commented on #67
Thanks for getting back to me. The problem was actually the DisplayableOrderComment parameter was not being properly escaped and thus the signature was generated incorrectly

[2017-06-17 15:42] dciccale commented on #88
fixed in #91

[2017-06-17 15:42] #88 closed, assigned to nobody

[2017-09-12 13:01] eli8levit commented on #67
@gholevas @florianbepunkt Can you help please, I have exactly the same problem. I need to implement Creating Fulfillment today, but nothing works out, I get "The request signature we calculated does not match the signature you provided."
Thank you!

[2017-09-12 13:13] florianbepunkt commented on #67
@JediYozh Mh… sounds like you have a problem with authentication and not with the fulfillment. Have you tried Amazin MWS scratchpad… does it work? If so, what I would do to debug is use the scratchpad and compare the request with the request from mws-api… you might dig into the request module to log the actual request that is made. Or you may try to use as few parameters when creating a fulfillmen

[2017-09-12 13:28] eli8levit commented on #67
@florianbepunkt it's not authentication  problem because other requests such as "**ListOrders" , "ListOrderItems", "GetOrder**" and others work great! This trouble happens only in this request. I think the reason is LineItems. @gholevas said it was "**DisplayableOrderComment**" but what did he do?
Florian, where do I get **MWSAuthToken**? Because in this module it's not required...
thank you very

[2017-09-12 13:46] florianbepunkt commented on #67
I agreee. If the other requests work, than the problem is the FBA part.

Can you show me your code (strip out the credentials)? Regarding the token: Have you tried to leave it just empty?

[2017-09-12 13:53] JediYozh commented on #67
`const MWSClient = require('mws-api');
const mws = new MWSClient({
    MarketplaceId: '',
    accessKeyId: '',
    secretAccessKey: '',
    merchantId: '',
    meta: {
        retry: true, // retry requests when throttled
        next: true, // auto-paginate
        limit: Infinity
     }
  })
`
`amazonUK.FulfillmentOutboundShipment.CreateFulfillmentOrder({
    SellerFulfillmentOrderId : '1112dsd1

[2017-09-12 13:59] eli8levit commented on #67
`const MWSClient = require('mws-api');
const mws = new MWSClient({
    MarketplaceId: '',
    accessKeyId: '',
    secretAccessKey: '',
    merchantId: '',
    meta: {
        retry: true, // retry requests when throttled
        next: true, // auto-paginate
        limit: Infinity
    }
  })

amazonUK.FulfillmentOutboundShipment.CreateFulfillmentOrder({
    SellerFulfillmentOrderId : '1112dsd1314

[2017-09-12 14:01] eli8levit commented on #67
@florianbepunkt sorry for terrible view, it doesn't let me to insert the code in correct way...

[2017-09-12 14:19] florianbepunkt commented on #67
okay, a few things… this is a bit of guesswork, but could you please try this:

[code]

[2017-09-12 14:30] eli8levit commented on #67
@florianbepunkt  it writes me "Cannot read property 'list' of undefined"
I don't have the item in inventory yet, I just want to test if it works (it doesn't).
I think that if the reason was in SellerSKU number it would throw me other error...

[2017-09-12 14:39] florianbepunkt commented on #67
So try with a product that is in your inventory… you can kill the fulfillment order later.

Regarding the list item error… try my pr as this could be related #68

[2017-09-12 14:41] eli8levit commented on #67
what I have to do in order to use it?

[2017-09-12 15:17] florianbepunkt commented on #67
Merge it… or add in the changes manually… or create a test project and install my fork
`npm i --save https://github.com/florianbepunkt/mws-api`

[2017-09-12 16:07] eli8levit commented on #67
Ok, will try it...thank you Florian!

[2017-09-12 21:48] #89 closed, assigned to nobody

[2017-09-12 22:04] greenkeeper[bot] opened #92 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-09-13 06:03] eli8levit commented on #67
@florianbepunkt it seems it works, thank you very very much you saved my life!

[2017-10-03 20:55] tresheffron opened #93 "Signature error calling GetReportList"
I get the following error when calling GetReportList.

"Error: The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details."
From previous event:
    at AmazonMwsClient.call (/.../node_modules/mws-api/lib/client.js:130:43)
    at req.query.then (/.../node_modules/mws-api/lib/client

[2017-10-03 21:39] tresheffron commented on #93
Misunderstood how to call this; misuse of an array parameter. Not an issue.

[2017-10-03 21:39] #93 closed, assigned to nobody

[2017-10-07 12:21] Raidus commented on #66
Using following snippet in a loop worked in my case:

[code]

[2017-10-09 14:04] eli8levit opened #94 "Unexpected complex element termination"
I'm trying to create Fulfillment Outbound Shipment and that's what I get :
`  <Error>
    <Type>Sender</Type>
    <Code>MalformedInput</Code>
    <Message>Unexpected complex element termination</Message>
  </Error>
  <RequestId>8a03fed0-6631-4638-95a0-d99d05ecbb55</RequestId>
</ErrorResponse>
{ ErrorResponse:
   { '$': { xmlns: 'http://mws.amazonaws.com/FulfillmentOutboundShipment/2010-10-01/' },

[2017-10-09 20:33] eli8levit commented on #67
@florianbepunkt I faced new problem, it throws an error : "Unexpected complex element termination", do you know what does it mean??

[2017-10-10 08:28] florianbepunkt commented on #67
@JediYozh No idea to be honest. Library throws an error or you get an error back from MWS?

[2017-10-16 10:55] eli8levit commented on #67
@florianbepunkt  the problem was in PerUnitDeclaredValue property of LineItem, it stopped to throw errors after I removed it.

[2017-10-19 09:51] igauravsehrawat opened #95 "Only compatible with Node ^4.0.0. Does it mean 6 and 6+ version isn't supported?"
By sem versioning, ^4.0.0 tell us that versions 4.x.x are supported and none after that.

Am I right?

Node v4 will be out of LTS soon, can we expect future version of Node to be supported?
I see `unless someone adds a babel precompilation step`, I am interested in doing it, what's the right place to start it?

Thanks

[2017-10-19 17:59] tyscorp commented on #95
I'm pretty sure it will work fine on Node >= 4.0.0.

[2017-10-21 16:00] igauravsehrawat commented on #95
@tyscorp No, it didn't work for me on node version 7.3.0 and v6.x.x
I get the following error on running any function after providing authenticating tokens.

[code]

Thanks

[2017-10-27 12:33] florianbepunkt commented on #66
@tyscorp Okay, @Raidus solution seems to cover every use case… so using the following parseCsv result works fine with all umlauts and other special characters like ß

[code]

[2017-10-27 12:33] #66 closed, assigned to nobody

[2017-11-09 00:19] fccardiff opened #97 "Issues with CreateInboundShipmentPlan"
Hi there,

I'm seeming to have some bugs with CreateInboundShipmentPlan. I believe it's an API-related bug so I'd be happy to collaborate a bit and get a fix for this one.

My request looks like:

    mws.FulfillmentInboundShipment.CreateInboundShipmentPlan({
                InboundShipmentPlanRequestItems: items,
                LabelPrepPreference: "SELLER_LABEL",
                ShipFromAddress

[2017-11-13 07:53] nolanamy commented on #67
@florianbepunkt @JediYozh @tyscorp Pretty sure I've got this all cleaned up (including replacing `Type.COMPLEX`) in #98. Let me know if you have feedback/issues.

[2017-11-17 13:13] MantasR opened #99 "Error: Request is throttled"
It doesn't happen all the time, however since I have imports of orders on cron job (every 3 minutes) I sometimes find my server crashed with this error:

    { Error: Request is throttled
        at Promise.try (/home/api/e-shop-sync/node_modules/mws-api/lib/client.js:144:33)
        at tryCatcher (/home/api/e-shop-sync/node_modules/bluebird/js/release/util.js:16:23)
        at Function.Promise.at

[2017-11-20 15:49] Desmodue opened #100 "Orders GetServiceStatus"
When calling GetServiceStatus for the Orders API I get "Cannot read property 'list' of undefined" errors.
Looking through the code it would appear that /lib/request.js is checking for param.list when there isn't a param object.

I implemented a quick fix to check if param exists before trying to check if it has properties and executing this block of code. "if (param){" . This fixes the immediate e

[2017-11-24 20:51] sjuxax commented on #100
I've encountered this when needlessly specifying the `MarketplaceId`; that is, when I send in a parameter that is not actually specced out by MWS. I added a similar hack to bypass this error, while also adding this to the log:

[code]

MWS seems to do fine with the extraneous variable so we don't stop the request, but just notify the user they may not need to send it in.

[2017-11-29 02:57] nolanamy opened #101 "Enums aren't used"
A number of `enums` are defined – for example, in _sections/fulfillment.js_, we have:

[code]

– but none are used. Would require grabbing the section's `enums` in [_api.js_](https://github.com/beardon/mws-api/blob/master/lib/api.js#L30), passing into `AmazonMwsRequest`, and handling enum types in `getValueForParam` in [_request.js_](https://github.com/beardon/mws-api/blob/master/lib/request.js#L8

[2017-12-31 21:20] pauleahanrahan commented on #94
Hello,

Having a similar problem while performing a create inbound shipment plan for FBA.  I was setting values that were to be components of a preparation details list when I experienced the termination error.

Creating the higher level data structure, the list, works however when I try to add the two components, preparation owner and preparation instructions, the failure occurs.  Have you made a

[2018-02-14 08:15] eli8levit opened #103 "Throttled requests in ListOrders operation"
When amount of orders is more then **600** there is now way to get all orders at once because the request is throttled. **maxResultsPerPage** value must be less than **100** so in order to get 600 orders it has to be 6 requests to amazon when _maximum request quota_ is **6**: [Amazon doc](http://docs.developer.amazonservices.com/en_IN/orders-2013-09-01/Orders_ListOrders.html)
How to solve this pro

[2018-02-14 08:20] eli8levit commented on #99
The reason is that amazon has _maximum request quota_ of requests you are able to send. More info: [amazon doc](http://docs.developer.amazonservices.com/en_IN/orders-2013-09-01/Orders_ListOrders.html)

[2018-02-14 08:24] eli8levit commented on #99
## I have a problem related to this issue
When amount of orders is more then **600** there is now way to get all orders at once because the request is throttled. **maxResultsPerPage** value must be less than **100** so in order to get 600 orders it has to be 6 requests to amazon when _maximum request quota_ is **6**: [Amazon doc](http://docs.developer.amazonservices.com/en_IN/orders-2013-09-01/Ord

[2018-02-14 08:25] #103 closed, assigned to nobody

[2018-02-14 08:28] eli8levit commented on #103
Didn't notice there is already open issue about this #99

[2018-02-14 19:50] moltar opened #104 "Need to expose `NextToken` as meta data for manual paging."
It is essential to be able to page data manually for large accounts. Otherwise the process can run out of memory by using the built-in `next` option.

[2018-04-09 20:00] moltar opened #105 "Bug: XML/CSV detection heuristic is inaccurate"
https://github.com/beardon/mws-api/blob/e10996128184e431af2c87fbddd454d60272d246/lib/client.js#L129

`FulfillmentInventory.ListInventorySupply` call does not return a valid XML prolog, thereby `<?xml` test fails and the CSV is assumed.

First line of the response is:

[code]

[2018-04-09 20:35] moltar opened #106 "Bug: FulfillmentInventory.ListInventorySupply is missing MarketplaceId option"
Docs: http://docs.developer.amazonservices.com/en_CA/fba_inventory/FBAInventory_ListInventorySupply.html

This is a standard option, but it is not whitelisted in the arguments list and thus the request fails.

[2018-09-19 17:20] bhushankummar commented on #106
@moltar
Try this one https://github.com/bhushankumarl/amazon-mws/blob/master/examples/javaScript/fulfillmentInventory/listInventorySupply.js

[2018-09-26 19:46] ChucklesStern commented on #67
@florianbepunkt @JediYozh
Hi guys! hope you are well since its been a year since this post. I am also struggling with order fullfillment. Can either of you clarify the nature of the list item error?

In my code, the ITEMS array I have my items broken down as such, which more or less conforms to the direct labelling used by AWS:

what is the best way for me to pass all my Items params into a Create

[2018-09-26 20:33] florianbepunkt commented on #67
Could you pass a strack trace/error log?  And maybe the full code you are
using (credentials ommited)? Have you used my PR? We are using this in
production without problems.

Chuck Stern <notifications@github.com> schrieb am Mi., 26. Sep. 2018, 21:46:

[2018-09-26 20:40] ChucklesStern commented on #67
HI @florianbepunkt Wow! I didnt expect such a fast response. Thank you man. Ok so I am sure I am using your PR as Ive set it to be the location of the repo in my package JSON:

 "mws-api": "git+https://github.com/florianbepunkt/mws-api.git"

the error log is:
`2018-09-26T20:32:09.400Z	3cddf18a-c1cb-11e8-9bad-eba478487a14	TypeError: Cannot read property 'list' of undefined
    at AmazonMwsRequest.s

[2018-09-26 20:43] ChucklesStern commented on #67
and this is my initialization at the top of my page
`const MWSClient = require('mws-api');

const mws = new MWSClient({
  host: "mws.amazonservices.com",
  accessKeyId: 'redacted',
  secretAccessKey: secret,
  merchantId: 'redacted',
  options: {
    retry: true, // retry requests when throttled
    next: true, // auto-paginate
    limit: Infinity, // only get this number of items (NOT the same as

[2018-09-26 20:49] florianbepunkt commented on #67
Okay, will check this tomorrow at the office against our code (am in
Europe/Berlin timezone). Will report back to you.

Chuck Stern <notifications@github.com> schrieb am Mi., 26. Sep. 2018, 22:43:

[2018-09-26 20:51] ChucklesStern commented on #67
ok sounds good! Thank you so much!

[2018-09-27 02:56] ChucklesStern commented on #67
Hi @florianbepunkt so I actually spent the entire day working on it and I just got everything working beautifully now ( I get "seller is not registered code") but thats good because I dont have my product in the warehouse yet (though FNSKUs are active).

If you dont mind I will be in touch with other questions and suggestions as I come across them. This is such a handy and amazing repo- with all P

[2018-09-27 07:53] florianbepunkt commented on #67
@ChucklesStern Sure. I just contributed a very small portion. But glad it's of use. Closing this issue now.

[2018-09-27 07:53] #67 closed, assigned to nobody

[2018-11-07 18:23] donhmorris commented on #105
There is a similar problem in request.js when retrieving a browse tree report using Reports.GetReport.

I made a temp fix by altering this code in request.js:

    getResult(data) {
        const path = `${this.options.basePath}` + (this.options.data ? `.${this.options.data}` : '');

        const isArray = this.options.isArray;
        return maybeArrayify(isArray, path ? _.get(data, path, **data

[2019-01-03 20:32] ryderdale opened #107 "InputDataError calling RequestReport"
I'm getting InputDataError when running GetReport after successfully running RequestReport. Code:
`mws.Reports.RequestReport({
    ReportType: '_GET_V1_SELLER_PERFORMANCE_REPORT_',
    MarketplaceIdList: 'ATVPDKIKX0DER',
    StartDate: '2018-10-01',
    EndDate: '2018-10-31',
})
.then(({ result, metadata }) => {
    console.log(result, "metadata: ", metadata)
    console.log("reportID: ",result.Re

[2019-05-27 18:35] hiren-ganatra opened #108 "offAmazonPayments >> SetOrderReferenceDetails"
We are having website based on big commerce and we can only use react.js to customize checkout page.

We are haivng amazon pay button and like to use `offAmazonPayments.SetOrderReferenceDetails` , here is the link of amazon https://developer.amazon.com/ja/docs/amazon-pay-api/setorderreferencedetails.html

Can we use offAmazonPayments with this package in react.js ?

[2019-06-04 15:07] blugavere opened #109 "LongStackTraces still mutating bluebird global in latest release."
Hi, it appears the longStackTraces removal never made it's way onto npm. On a fresh npm i install that code is still there in version 3.0. Can you please publish the latest code?

https://github.com/beardon/mws-api/commit/e10996128184e431af2c87fbddd454d60272d246

[2019-06-27 06:14] pphanwang opened #110 "Missing required MWSAuthToken for Seller."
import mws, os
access_key = '' #replace with your access key
secret_key = '' #replace with your secret key
seller_id = '' #replace with your seller id
auth_token=""
marketplaceids=''
created_after='2018-12-31'
orders_api = mws.Orders(access_key, secret_key, seller_id, region='US')
orders = orders_api.list_orders(marketplaceids='ATVPDKIKX0DER', created_after='2019-01-01')

-------------------------

[2019-07-02 19:54] articleinnovations opened #111 "Support GetMyFeesEstimate"
In the Products API, support should be added for the GetMyFeesEstimate API: http://docs.developer.amazonservices.com/en_US/products/Products_GetMyFeesEstimate.html

[2020-07-28 03:51] l290347877 commented on #99
How to solve this problem, "nextToken" is filtered out

[2020-10-28 14:36] pmaoui commented on #109
As I needed the last version of this module, I published it here: https://www.npmjs.com/package/mws-api-mirror